IA/flows_IA_final.json
[
    {
        "id": "3b6f633ba8188dc5",
        "type": "tab",
        "label": "Flux 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37ff0884163036a9",
        "type": "inject",
        "z": "3b6f633ba8188dc5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "beacbf67588cdccd"
            ]
        ]
    },
    {
        "id": "41f93c7c84d125bc",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "Debug create data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 200,
        "wires": []
    },
    {
        "id": "8ef7dac3386c4e12",
        "type": "inject",
        "z": "3b6f633ba8188dc5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "4286e916fc18a867"
            ]
        ]
    },
    {
        "id": "5801d13b8e5747b1",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "Debug RFC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 974.9332885742188,
        "y": 330.9333190917969,
        "wires": []
    },
    {
        "id": "2391045996cf2143",
        "type": "inject",
        "z": "3b6f633ba8188dc5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "6611da98f4c6ebc3",
                "f33de2704b5bb788"
            ]
        ]
    },
    {
        "id": "a9e59a3c70eeb371",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "Accuracy RFC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 420,
        "wires": []
    },
    {
        "id": "e1588242a7fc735f",
        "type": "function",
        "z": "3b6f633ba8188dc5",
        "name": "mise en forme de la trame",
        "func": "var humidity = msg.payload.humidity;\nvar soilHumidity = msg.payload.soilHumidity;\nvar luminosite = msg.payload.luminosity;\n\nvar payloadout = {\n    \"humid_air\": humidity,\n    \"humid_sol\": soilHumidity,\n    \"lum\": luminosite,\n    \"classe\": \"0\"\n};\n\nvar msgout = { payload: payloadout };\n\nreturn msgout;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 660,
        "wires": [
            [
                "1194e78d525b29b4",
                "6aaf46fd95e37ac2",
                "ca9ab1fde24aa9f9"
            ]
        ]
    },
    {
        "id": "cd814500ca8563f5",
        "type": "mqtt in",
        "z": "3b6f633ba8188dc5",
        "name": "Données capteur",
        "topic": "v3/sensorserre@ttn/devices/eui-70b3d57ed0064dd2/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "682e70ec339fb955",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 660,
        "wires": [
            [
                "b9f1d5e62740fa62",
                "59948772409d5321"
            ]
        ]
    },
    {
        "id": "52a22d5623e3c508",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "debug de données",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 600,
        "wires": []
    },
    {
        "id": "b9f1d5e62740fa62",
        "type": "file",
        "z": "3b6f633ba8188dc5",
        "name": "Suppression du fichier",
        "filename": "/home/florian.fodor/work/Serre_Connecte/IA/Donnees/test.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "delete",
        "encoding": "none",
        "x": 560,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "1194e78d525b29b4",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "debug mise en forme",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 600,
        "wires": []
    },
    {
        "id": "6aaf46fd95e37ac2",
        "type": "csv",
        "z": "3b6f633ba8188dc5",
        "name": "CSVcapteur",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "humid_air,humid_sol,lum,classe",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 850,
        "y": 660,
        "wires": [
            [
                "024f43c12ecfe902"
            ]
        ]
    },
    {
        "id": "ca9ab1fde24aa9f9",
        "type": "csv",
        "z": "3b6f633ba8188dc5",
        "name": "CSVcapteurAll",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "humid_air,humid_sol,lum,classe",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 880,
        "y": 700,
        "wires": [
            [
                "b6408975e365987d"
            ]
        ]
    },
    {
        "id": "b6408975e365987d",
        "type": "file",
        "z": "3b6f633ba8188dc5",
        "name": "Sauvegarde des données",
        "filename": "/home/florian.fodor/work/Serre_Connecte/IA/historique.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1110,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "024f43c12ecfe902",
        "type": "file",
        "z": "3b6f633ba8188dc5",
        "name": "Nouveau set de données",
        "filename": "/home/florian.fodor/work/Serre_Connecte/IA/Donnees/test.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1090,
        "y": 660,
        "wires": [
            [
                "5c1870803c613619"
            ]
        ]
    },
    {
        "id": "21317b86387029a8",
        "type": "function",
        "z": "3b6f633ba8188dc5",
        "name": "Mise en forme de la sortie du RFC",
        "func": "\n\nvar payloadout = msg.payload[0];\nvar msgout = {payload: String(payloadout)}\nreturn msgout;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 660,
        "wires": [
            [
                "0499052b3900c687",
                "660962a8f5a7b6c0"
            ]
        ]
    },
    {
        "id": "0499052b3900c687",
        "type": "mqtt out",
        "z": "3b6f633ba8188dc5",
        "name": " Vers Serveur",
        "topic": "v3/sensorserre@ttn/devices/eui-70b3d57ed0064dd2/down/push",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "682e70ec339fb955",
        "x": 2270,
        "y": 660,
        "wires": []
    },
    {
        "id": "beacbf67588cdccd",
        "type": "create dataset",
        "z": "3b6f633ba8188dc5",
        "name": "",
        "path": "/home/florian.fodor/work/Serre_Connecte/IA/actionneurtest.csv",
        "saveFolder": "/home/florian.fodor/work/Serre_Connecte/IA",
        "saveName": "dataset",
        "input": "0,1,2",
        "output": "3",
        "trainingPartition": "",
        "shuffle": "",
        "seed": "",
        "x": 480,
        "y": 200,
        "wires": [
            [
                "41f93c7c84d125bc"
            ]
        ]
    },
    {
        "id": "4286e916fc18a867",
        "type": "load dataset",
        "z": "3b6f633ba8188dc5",
        "name": "Load Data Training",
        "datasetFolder": "/home/florian.fodor/work/Serre_Connecte/IA",
        "datasetName": "dataset",
        "partition": "train.csv",
        "input": true,
        "output": true,
        "x": 470,
        "y": 320,
        "wires": [
            [
                "d4108d818f56b6ea"
            ],
            []
        ]
    },
    {
        "id": "6611da98f4c6ebc3",
        "type": "load dataset",
        "z": "3b6f633ba8188dc5",
        "name": "Load data validation output",
        "datasetFolder": "/home/florian.fodor/work/Serre_Connecte/IA",
        "datasetName": "dataset",
        "partition": "test.csv",
        "input": false,
        "output": true,
        "x": 420,
        "y": 400,
        "wires": [
            [
                "b64f0bbf1f92d847"
            ],
            []
        ]
    },
    {
        "id": "f33de2704b5bb788",
        "type": "load dataset",
        "z": "3b6f633ba8188dc5",
        "name": "Load data validation input",
        "datasetFolder": "/home/florian.fodor/work/Serre_Connecte/IA",
        "datasetName": "dataset",
        "partition": "test.csv",
        "input": true,
        "output": false,
        "x": 390,
        "y": 440,
        "wires": [
            [
                "5c5de6689411b2ce"
            ],
            []
        ]
    },
    {
        "id": "5c1870803c613619",
        "type": "load dataset",
        "z": "3b6f633ba8188dc5",
        "name": "Load Data testing",
        "datasetFolder": "/home/florian.fodor/work/Serre_Connecte/IA",
        "datasetName": "Donnees",
        "partition": "test.csv",
        "input": true,
        "output": false,
        "x": 1410,
        "y": 660,
        "wires": [
            [
                "36777b4fbe8b6489"
            ],
            []
        ]
    },
    {
        "id": "5c5de6689411b2ce",
        "type": "predictor",
        "z": "3b6f633ba8188dc5",
        "name": "Predictor RFC",
        "modelPath": "/home/florian.fodor/work/Serre_Connecte/IA/model",
        "modelName": "rfc.b",
        "x": 740,
        "y": 440,
        "wires": [
            [
                "b64f0bbf1f92d847"
            ],
            []
        ]
    },
    {
        "id": "36777b4fbe8b6489",
        "type": "predictor",
        "z": "3b6f633ba8188dc5",
        "name": "Predictor RFC",
        "modelPath": "/home/florian.fodor/work/Serre_Connecte/IA/model",
        "modelName": "rfc.b",
        "x": 1660,
        "y": 660,
        "wires": [
            [
                "21317b86387029a8",
                "d739f61c9adb4d0e"
            ],
            []
        ]
    },
    {
        "id": "b64f0bbf1f92d847",
        "type": "assessment",
        "z": "3b6f633ba8188dc5",
        "name": "Assessment RFC",
        "score": "accuracy_score",
        "x": 1010,
        "y": 420,
        "wires": [
            [
                "a9e59a3c70eeb371"
            ],
            []
        ]
    },
    {
        "id": "d4108d818f56b6ea",
        "type": "random forest classifier",
        "z": "3b6f633ba8188dc5",
        "name": "",
        "savePath": "/home/florian.fodor/work/Serre_Connecte/IA/model",
        "saveName": "rfc.b",
        "criterion": "entropy",
        "numTrees": "",
        "maxDepth": "",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "5801d13b8e5747b1"
            ],
            []
        ]
    },
    {
        "id": "59948772409d5321",
        "type": "change",
        "z": "3b6f633ba8188dc5",
        "name": "change",
        "rules": [
            {
                "t": "move",
                "p": "payload.uplink_message.decoded_payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 660,
        "wires": [
            [
                "e1588242a7fc735f",
                "52a22d5623e3c508"
            ]
        ]
    },
    {
        "id": "d739f61c9adb4d0e",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "sortie préd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1950,
        "y": 560,
        "wires": []
    },
    {
        "id": "660962a8f5a7b6c0",
        "type": "debug",
        "z": "3b6f633ba8188dc5",
        "name": "decision",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2280,
        "y": 540,
        "wires": []
    },
    {
        "id": "682e70ec339fb955",
        "type": "mqtt-broker",
        "name": "TTN",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]